.background
{
    position: relative;
    width: 65%;
    height: auto;
    background-color: #ffffff;
    margin: 0 auto;
    padding: 20px;
}

.login
{
    border: none;
    display: inline-block;
    height: 50px;
    /*width: 120px;*/
    float: right;
    /*margin-right: 50px;*/
    background-color:  #0e3758;
    color: #f0f3e2;
    font-weight: bold;
    font-size: 16px;
    outline: none;
    font-family: raleway;
}

.login:hover
{
    cursor: pointer;
    background-color: #0a2942;
}

.productDiv
{
    margin-top: 40px;
}

.quantityProducts
{
    width: 230px;
    float: left;
}

.plus
{
    outline: none;
    border: none;
    background-color: white;
    cursor: pointer;
    font-size: 18px;
    margin-left: 20px;
}

.minus
{
    outline: none;
    border: none;
    background-color: white;
    cursor: pointer;
    font-size: 18px;
    margin-left: 0px;
}

.iloscProduktow
{
    width: 40px;
    height: 25px;
    border-radius: 2px;
    border: 1px solid #a6a6a6;
	text-align: center;
    margin-left: 20px;
}

.deleteProducts
{
    width: 100px;
    height: 50px;
    float: left;
}

.delete
{
    font-size: 18px;
    outline: none;
    border: none;
    background-color: white;
    color: red;
    cursor: pointer;
    float: right;
    
}

.productContainer
{
    display: inline-block;
    position: relative;
    float: left;
    width: 75px;
    height: 75px;
}

.productContent
{
    width: 1050px;
    height: 65px;
    position: relative;
    padding-top: 10px;
    margin-left: 100px;
    margin-right: 10px;
}

.productName
{
    width: 450px;
    float: left;
    padding-right: 15px;
}

.priceDiv
{
    width: 250px;
    float: left;
}

.price
{
    margin-left: 0px;
    float: right;
}

.totalPrice
{
    float: right;
    width: 300px;
    height: 30px;
    font-weight: 700;
    margin-top: 50px;
}

.divPayment
{
    margin-top: 10px;
    width: 220px;
    height: 40px;
    float: right;
}

.payment
{
    border: none;
    background-color: #0e3758;
    color: #f0f3e2;
    font-weight: 500;
    font-size: 16px;
    outline: none;
    font-family: raleway;
    height: 40px;
    width: 220px;
    border-radius: 10px;
    cursor: pointer;
}

.payment:hover
{
    background-color: #0a2942;
}

.continue
{
    width: 200px;
    height: 20px;
    font-size: 13px;
    position: relative;
    display: inline-block;
    bottom: 30px;
}

.continueShopping
{
    text-decoration: none;
    color: #0e3758;
}

.continueShopping:hover
{
    color: #0a2942;
    text-decoration: underline;
}