@import url('https://fonts.googleapis.com/css?family=Roboto');

.productContainer{
    width: 210px;
    height: 360px;
    border-bottom: 1.2px solid #d5e0f2;
    padding: 10px;
	position: relative;
	margin-left: 15px;
    margin-right: 15px;
	margin-top: 20px;
}

.productContainer *{
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
	font-size: 14px;
}

.productImage{
    height: 210px;
    width: 190px;
    float: left;
    border: 1px solid #ccc;
}

.productImage img{
    height: 100%;
    width: 100%;
}

.productContent{
    margin-top: 10px;
    width: 200px;
    height: 100px;
    float: left;
	margin-left: 5px;
    position: relative;
}

.description
{
    width: 210px;
    height: 30px;
}

.productTitle{
    color: #01649a;
	font-size: 16px;
    text-decoration: none;
    font-weight: 600;
}

.productTitle:hover{
    text-decoration: underline;
}

.productContent div{
    display: block;
}
    
.productDescription{
    margin-top: 30px;
}

.addProduct{
    width: 35px;
    height: 35px;
}

.circleCart
{
    width: 35px;
    height: 35px;
    border-radius: 20px;
    background-color: #bfbfbf;
    outline: none;
    border: none;
}

.circleCart:hover
{
    background-color: #0e3758;
}

.circleCart i
{
    color: #f7f7f7;
}

.discount{
	position: absolute;
	bottom: 20px;
	right: 0;

}

.productPrice{
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 16px;
}