@media (max-width: 499px) 
{
    body 
    {
        font-size: 1.0em;
        background-color: #f7f7f7;
    }

    /*ustawienie search'a*/
    .formularz
    {
        position: absolute;
        margin-left: -290px;
        top: -80px;
        width:100px;
    }
    
    .searchBar
    {
        width: 100vw;
        height: 40px;
        margin-top: 65px;
        margin-left: -10px;
        margin-right: 5px;
    }
    
    .selectBox *
    {
        display: none;
    }
    
    .login
    {
        width: 100px;
        margin-right: 10px;
    }
    
    .register
    {
        width: 100px;
    }
    
    .basket
    {
        display: none;   
    }
    
    .basket-menu
    {
        position: absolute;
        display: inline-block;
        width: 50px;
        right: 0;
        top: 50px;
    }
    
    .basketIcon2 i
    {
        font-size: 24px !important;
    }
}