<!DOCTYPE html>
<html>
<head>
    <title>Banana-Shop.pl</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="stylesheet" href="CSS/main-css.css">
    <link rel="stylesheet" href="CSS/basket-style.css">
    
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    <script type="text/jscript" src="JS/jquery-3.2.1.min.js"></script>
</head>
<body>
<!-- Top container -->
<div class="gornyBlok" style="z-index:4">
    <button class="login">  Zaloguj</button>
    <button class="register">  Rejestracja</button>
</div>

<!-- !PAGE CONTENT! -->
    <div class="glownyStyl" >
        <div class="background" style="box-sizing: border-box;">
            <h1 style="margin-top: 50px;">Twój koszyk</h1>
            <div id="products"></div>
            <div class="totalPrice">
                <span style="float: right;">Wartość zakupów: <span id="sum"> </span> zł</span>
            </div>
            <div style="clear: both"></div>
            <div class="divPayment">
                <button class="payment">Przejdź do płatności</button>
            </div>
            <div style="clear: both"></div>
            <div class="continue">
                <a  class="continueShopping" href="[@home]">kontynuuj zakupy</a>
            </div>
        </div>
        
      <!-- Footer -->
      <!--<footer class="stopka">
        <h4>FOOTER</h4>
        <p>Powered by <a href="" target="_blank">Magda Miller</a></p>
      </footer>-->

      <!-- End page content -->
    </div>
<script>
	function refreshCart()
	{
		$.ajax({
			url: "[@products]",
			success: function(result)
			{
				loadContent(result);
			}
		});
	}
	
	$(document).ready(function(){
		refreshCart();
	});
	
	function loadContent(result)
	{			
		$('#products').html(result.products);
		$('#sum').html(result.sum);
		
		$('.minus').each(function(){
			if($(this).parent().find('.iloscProduktow').val()==1)
			{
				$(this).css("color", "#ccc");
			}
		});//If product quantity is 1 change color
		
		$('.plus').click(function(){
			var id = $(this).parent().parent().parent().attr('id');
			var quantity = $(this).parent().find('.iloscProduktow').val();
			changeQuantity(id, ++quantity);
		});//end onClick plus
		
		$('.minus').click(function(){
			var id = $(this).parent().parent().parent().attr('id');
			var quantity = $(this).parent().find('.iloscProduktow').val();
			if(quantity > 1)
				changeQuantity(id, --quantity);
		});//end onClick minus
		
		$('.delete').click(function(event){
			event.preventDefault();
			$.ajax({
				url: $(this).parent().attr('href'),
				success: function(result)
				{
					refreshCart();
				}
			});
		});
		
		$('.iloscProduktow').change(function(){
			var id = $(this).parent().parent().parent().attr('id');
			 changeQuantity(id, $(this).val());
		});
		
		function changeQuantity(productID, productQuantity)
		{
			$.ajax({
				url: "changeQuantity/"+productID,
				data: {
					quantity: productQuantity
				},
				success: function() 
				{
                    refreshCart(); 
                }
			});
		}
	}
</script>
</body>
</html>