<!DOCTYPE html>
<html>
<head>
    <title>Banana-Shop.pl</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="stylesheet" media="(max-width: 500px)" href="CSS/home/small-screen-500.css">
    <link rel="stylesheet" media="(max-width: 609px)" href="CSS/home/medium-screen-609.css">
    <link rel="stylesheet" media="(max-width: 700px)" href="CSS/home/medium-screen-700.css">
    <link rel="stylesheet" media="(max-width: 959px)" href="CSS/home/large-screen-959.css">
    <link rel="stylesheet" media="(min-width: 960px)" href="CSS/home/large-screen-1920.css">
    
    <link rel="stylesheet" href="CSS/main-css.css">
    <link rel="stylesheet" href="CSS/navBar.css">
   	<link rel="stylesheet" type="text/css" href="CSS/productTemplate.css">
	
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <script type="text/jscript" src="JS/jquery-3.2.1.min.js"></script>
</head>
<body>
<!-- Top container -->
<div class="gornyBlok" style="z-index:4">
    <button class="menu" onclick="w3_open();"><i class="fa fa-bars"></i>  Menu</button>
	[@ui]
</div>

<div id="overlay-loading">
	<div id="loadingIcon">
		<i class="fa fa-spinner fa-pulse fa-3x fa-fw margin-bottom"></i>
	</div>
</div>

<!-- Sidebar/menu -->
<nav class="navMenu" id="mySidebar"><br>
    <div class="napisMenu">
        <h5>Menu</h5>
    </div>

    <a class="basket-menu" href="[@shoppingCart]">
        <span class="basketIcon2"><i class="fa fa-shopping-cart" aria-hidden="true"></i></span>
    </a>
    
  <div class="listMenu">
    <a class="opcja"><i class="fa fa-exclamation-circle" aria-hidden="true"></i>  Nowości</a>
    <a class="opcja"><i class="fa fa-heart" aria-hidden="true"></i>  Top10</a>
	[@submenu]
  </div>
</nav>


<!-- Overlay effect when opening sidebar on small screens -->
<div class="malyEkran" onclick="w3_close()" style="cursor:pointer" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->

    <div class="glownyStyl" style="margin-left:300px;margin-top:43px;">

      <!-- Header -->
       <!-- <h5><b><i class="fa fa-dashboard"></i> Produkty</b></h5> -->
	   <form method="get" id="searchProducts" action="loadProducts" class="formularz">
		   <input type="hidden" name="selected" id="categories">
            <div class="searchBar">
                <input id="search" class="search" type="text" name="search" placeholder="Szukaj.." value="[@searchLast]">
                
                <div class="selectBox">
                    <span class="selected"></span>
                    <span class="selectArrow"><i class="fa fa-chevron-down" aria-hidden="true"></i></span>
                    <div class="selectOptions" >
                        <span class="selectOption">Wszystkie działy</span>
						[@categories]
                    </div>
                </div>

                <button class="searchIcon" type="submit" name="submit" value="someValue"><i class="fa fa-search" aria-hidden="true"></i></button>
                
				<a class="basket" href="[@shoppingCart]">
					<span class="basketIcon"><i class="fa fa-shopping-cart" aria-hidden="true"></i></span>
				 </a>
            </div>
        </form>
	   <div class="products">
			<div class="content">
				
			</div>
			<div class="navigation">
				
			</div>
		</div>
      <!-- Footer -->
      <!--<footer class="stopka">
        <h4>FOOTER</h4>
        <p>Powered by <a href="" target="_blank">Magda Miller</a></p>
      </footer>-->

      <!-- End page content -->
    </div>

<script>
// Get the Sidebar
var mySidebar = document.getElementById("mySidebar");

// Get the DIV with overlay effect
var overlayBg = document.getElementById("myOverlay");

// Toggle between showing and hiding the sidebar, and add overlay effect
function w3_open() {
    if ($(".navMenu").width()==0) {
        $(".navMenu").width(300);
        $('#myOverlay').show();
    } else {
        $(".navMenu").width(0);
        $('#myOverlay').hide();
    }
}

// Close the sidebar with the close button
function w3_close() {
    mySidebar.style.width = "0";
    overlayBg.style.display = "none";
}
			
function enableSelectBoxes(){
    $('div.selectBox').each(function(){
        $(this).children('span.selected').html($(this).children('div.selectOptions').children('span.selectOption:first').html());
        $(this).attr('value',$(this).children('div.selectOptions').children('span.selectOption:first').attr('value'));
					
        $(this).children('span.selected,span.selectArrow').click(function(){
            if($(this).parent().children('div.selectOptions').css('display') == 'none'){
                $(this).parent().children('div.selectOptions').css('display','block');
            }
            else
            {
                $(this).parent().children('div.selectOptions').css('display','none');
            }
            selectboxEvent();
        });
					
        $(this).find('span.selectOption').click(function(){
            $(this).parent().css('display','none');
            $(this).closest('div.selectBox').attr('value',$(this).attr('value'));
            $(this).parent().siblings('span.selected').html($(this).html());
            $('input[name="selected"]').val($(this).attr('id'));
            selectboxEvent();
        });
    });				
}
    function selectboxEvent()
    {
       if($('.selectArrow').children('i').attr('style')!='transform: rotate(180deg)') 
       {
           $('.selectArrow').children('i').attr('style','transform: rotate(180deg)');
       }
       else
       {
           $('.selectArrow').children('i').attr('style','');
       }
    }
	
	var page = 1;
	if(getQueryVariable('page'))
	{
		page = getQueryVariable('page');
	}
	
	window.addEventListener('popstate', function(event) {
		if(event.state===null)
			return;
		var page = 1;
		if(getQueryVariable('page'))
		{
			page = getQueryVariable('page');
		}
		
		$.ajax({
				url: "[@loadProductsURL]/"+page,
				data: {
					platform: getQueryVariable('platform'),
					category: getQueryVariable('category'),
					searched: getQueryVariable('searched')
				},
				success: function(result)
				{
					$("#overlay-loading").show();
					if(getQueryVariable('category'))
					{
						var categoryName = $('.selectOptions #'+getQueryVariable('category')).text()
						if(categoryName)
							$('.selected').text(categoryName);
					}
					else
					{
						$('.selected').text("Wszystkie działy");
					}

					if(getQueryVariable('searched'))
						$('#search').val(getQueryVariable('searched'));
					else
						$('#search').val('');
					
					loadContent(result);
				}
			});
	}, false);
	
	$(document).ready(function(){
		
		$(".submenu").click(function()
		{
			$submenu = $(this).parent().children().eq(1);
			if($submenu.height()==0)
				{
					$submenu.height(300);
				}
			else
			{
				$submenu.height(0);
			}
		});
		
		enableSelectBoxes();
		$("#searchProducts").submit(function(event){
			event.preventDefault(); 
			$(".submit").attr("disabled", true);
			$.ajax({
				url: $(this).attr('action'),
				data: {
					platform: getQueryVariable('platform'),
					category: $('#categories').val(),
					searched: $('#search').val()
				},
				success: function(result)
				{
					$("#overlay-loading").show();
					loadContent(result);
					window.history.pushState("prev", "", result.url);
				}
			});
		});
		
		$('.subOpcja').click(function(event)
		{
			event.preventDefault(); 
			$.ajax({
				url: $(this).attr('href'),
				success: function(result)
				{
					$("#overlay-loading").show();
					$('.selected').text('Wszystkie działy');
					$('input[name="selected"]').val('');
					$('#search').val('');
					loadContent(result);
					window.history.pushState("prev", "", result.url);
				}
			});
		});
		
		$.ajax({
			url: "[@loadProductsURL]/"+page,
			data:{
					platform: getQueryVariable('platform'),
					category: getQueryVariable('category'),
					searched: getQueryVariable('searched')
			},
			success: function(result)
			{
				loadContent(result);
			}
		});
	});
	
	function loadContent(result)
	{
		$("#overlay-loading").fadeIn('normal', function(){
			$(this).fadeOut();
		});		
		
		$('.content').html(result.products);
		$('.navigation').html(result.pagination);
		
		setTimeout(function(){
			$("#overlay-loading").hide();
			$(".submit").attr("disabled", false);
		}, 500);
		
		$(".addProduct").click(function(event){
			event.preventDefault(); 
			$.ajax({
				url: $(this).attr('href'),
				success: function(response) {
					alert(response);
				}
			});
		});
		
		$(".pagination-link").click(function(event){
			event.preventDefault(); 
			$.ajax({
				url: $(this).attr('href'),	
				success: function(result)
				{
					$("#overlay-loading").show();
					loadContent(result);
					window.history.pushState("", "", result.url);
				}
			});
		});
	}
	
	function getQueryVariable(variable){
		var query = window.location.search.substring(1);
		var vars = query.split("&");
		for (var i=0;i<vars.length;i++) 
		{
			var pair = vars[i].split("=");
			if(pair[0] == variable) 
			{
				return pair[1];
			}
		}
		return "";
	}
</script>

</body>
</html>
