<!DOCTYPE html>
<html>
<head>
    <title>E-Shop Design</title>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="Templates/indexTemplate.css" />
	<link rel="stylesheet" type="text/css" href="Templates/productTemplate.css">
    <script type="text/javascript" src="JS/jquery-3.2.1.min.js"></script>
</head>
<body>
	<div class="container">
    <div class="header">
        <div class="logo">
            <a href="http://localhost/Sklep/E-Shop/"><img src="images/logo.png" alt="Logo" /></a>
        </div>

        <div class="searchForm">
            <form id="searchProducts" action="1" method="get">
                <input type="search" placeholder="czego szukasz?" value="[@searchLast]" name="searched" class="search" />
                <select name="category" class="category">
                    <option value="">Wszystkie działy</option>
                    [@categories]
                </select>
                <input type="submit" class="submit" value="Szukaj!" name="submit" />
            </form>
        </div>
        <a href="SearchModule2.php"><div class="shopCart"></div></a>
        <div class="clearHeader"></div>
    </div>

    <div class="products">
        <div class="toogle-menu" onclick="openNav()"></div>
        <div class="content">
			[@products]
        </div>
        <div class="navigation">
            [@pagination]
        </div>
    </div>
</div>

<div class="menu" id="menu">
    <div class="closebtn" onclick="closeNav()"></div>
    <div class="menuitem">Strona główna</div>
    <div class="menuitem">Gry</div>
    <div class="menuitem">Łowcy</div>
</div>
	
<script>
    function openNav() {
        $(".menu").css("width", 250+"px");
        $(".toogle-menu").hide();
    }

    function closeNav() {
        $(".menu").css("width", 0+"px");
        $(".toogle-menu").show();
    }
</script>
</body>
</html>