<!DOCTYPE html>
<html>
<head>
    <title>Banana-Shop.pl</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="stylesheet" href="CSS/main-css.css">
    <link rel="stylesheet" href="CSS/login-style.css">
    
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    <script type="text/jscript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script type="text/jscript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
</head>
<body>
<!-- Top container -->
<div class="gornyBlok" style="z-index:4">
    <button class="register">  Rejestracja</button>
</div>

<!-- !PAGE CONTENT! -->

    <div class="glownyStyl" >
        <div class="background-form">
            <h3>Zaloguj się</h3>
            <form method="post" action="actionLogin" class="form-login">

				<input type="hidden" name="rule" value="false">
                <div>
                    <div style="height: 50px; margin-bottom: 40px;"><label for="login-input" style="margin-right: 20px;">Podaj e-mail lub login</label><input type="text" name="login" class="login-input"></div>
                    <div style="height: 50px; margin-bottom: 40px;"><label for="passwd" style="margin-right: 95px;">Podaj hasło</label><input type="password" name="password" class="passwd" id="passwd"></div>
                </div>
                
                <div class="container">
                    <div style="height: 18px; width:18px; float: left;">
                        <div class="checkbox">
                            <div class="check"><i class="fa fa-check" aria-hidden="true"></i></div>
                        </div>
                    </div>
                    <span style="height: 50px; width:400px; float: left; margin-left: 20px;">Zapamiętaj hasło</span>
                </div>
                
                <input type="submit" value="Zaloguj" class="zaloguj">
            </form>
        </div>
        
      <!-- Footer -->
      <!--<footer class="stopka">
        <h4>FOOTER</h4>
        <p>Powered by <a href="" target="_blank">Magda Miller</a></p>
      </footer>-->

      <!-- End page content -->
    </div>

    <script>
    $(document).ready(function() {
		
		var remember = $.cookie('remember');
        if (remember == 'true') 
        {
            var login = $.cookie('login');
            var password = $.cookie('password');
            $(".checkbox").attr('checked', true);
			$(".checkbox").css('border', '2px solid #666666');
			$(".checkbox").children().show();
            $('.login-input').val(login);
            $('#passwd').val(password);
			$('.form-login input[name=\'rule\']').val('true');
        }
		
        $(".checkbox").click(function(){
                if($(this).attr('checked'))
                {
                    $(this).attr('checked', false);
                    $(this).children().hide();
                    $(this).css('border', '1px solid #a6a6a6');
					$('.form-login input[name=\'rule\']').val('false');
                }
                else
                {
                    $(this).attr('checked', true);
                    $(this).children().show();
                    $(this).css('border', '2px solid #666666');
					$('.form-login input[name=\'rule\']').val('true');
                }
            });
			
		$('.zaloguj').click(function(event){
			if($('.form-login input[name=\'rule\']').val()=="true")
			{
				var login = $('.login-input').val();
				var password = $('#passwd').val();
				
				$.cookie('login', login, { expires: 14 });
				$.cookie('password', password, { expires: 14 });
				$.cookie('remember', true, { expires: 14 });    
			}
			else
			{
				$.cookie('login', null);
				$.cookie('password', null);
				$.cookie('remember', null);
			}
		});
    });
</script>
    
</body>
</html>