<div class="productDiv" id="[@id]">
    <div class="productContainer">
        <img alt="[@name]" src="[@imagePath]" style="width: 70px; height: 83px;">
        <span style="clear: both"></span>
	</div>
    <div class="productContent">
        <div class="productName">
		  <span>
			[@name]
		  </span>
        </div>
        
        <div class="quantityProducts">
            <button class="minus"><i class="fa fa-minus" aria-hidden="true"></i></button>
            <input type="text" maxlength="3" class="iloscProduktow" value="[@quantity]">
            <button class="plus"><i class="fa fa-plus" aria-hidden="true"></i></button>
        </div>
            
        <div class="priceDiv">
		  <span class="price">[@price] zł</span>
        </div>
            
        <div class="deleteProducts">
		  <a href="[@url]"><button class="delete"><i class="fa fa-times" aria-hidden="true"></i></button></a>
        </div>
    </div>
</div>